<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Personal Blog</title>
	<style>
		li {
			list-style: none;
			font-family: sans-serif;
			display: flex;
			justify-content: space-between;
			cursor: pointer;
			background-color: azure;
			text-decoration: none;
		}
	</style>
</head>
<body>
	<h1>Personal Blog</h1>
	<div>
		<ul>
			<li>
				<p>any shit</p>
				<p>25/2/2025</p>
			</li>
			<a href=""></a>
		</ul>
	</div>
</body>
</html>